/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:   Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

    #features{
      text-align: center;
    }
    .fa{
      margin-right: 3.5%;
    }
    .lead{
      color: #333;
    }
    #follow{
      color: #fff;
    }
    .links{
      color: #7f98a6!important;
      font-size: 12px!important;
      font-weight: 600!important;
    }
    #moto{
      color: #333!important;
    }
    p.list-group-item-text{
      font-weight: 900!important;
    }

    #features img{
      margin: 0 0 20px;
    }

    .feature p{
      font-family: 'Abril Fatface', cursive;
      font-style: bold;
      color: #333;
    }

    .well p{
      font-family: 'Lobster Two', cursive;
      font-size: 17px;
      color: #333;
      font-weight: 600;
    }

    footer{
      background: #333;
      color: #eee;
      font-size: 11px;
      padding: 20px;
    }

    #main{
        background: url('../../img/blue_yellow.jpg')
    }

   /* .list-group-item, .well{
      background: url('../../img/blue_yellow.jpg')
      background: #8e8e91;
    }*/

    .list-group, .well{
      background: url('../../img/89baaec3227c63044d8d715b7388f8b7.jpg')

    }

    #details .col-sm-4 img{
      margin-top: 3%;
      margin-left: 18%;
      margin-bottom: 3%;
    }

    #change{
      color: #eee;
    }

/* --------------------------------------
   Typography
   -------------------------------------- */


   .well .page-header{
    margin-top: 0;
   }

   .well .page-header h1{
    margin-top: 0;
   }

   ul{
    list-style: none;
    padding: 0;
   }


/* --------------------------------------
   Navbar
   -------------------------------------- */

  .navbar-brand{
    padding: 1px 20px;
  }

  #search{
    width: 200px;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */
   /*#myCarousel{
    position: static;
   }*/
   /*.carousel{
    position: static !important;
   }
   */
   #myCarousel .item{
    height: 450px;
   margin-top: 6%;
   width: 100%;
   /*margin-right: 10%;*/

 }


   #slide1{
    background: url('../../img/FruitTrees.jpg') no-repeat center;
    }

   #slide2{
    background: url('../../img/pictureoforanges.jpg') no-repeat center;

   }

   #slide3{
    background: url('../../img/Tomkin-British-Tomato-Growers-Association-National-Plant-Societies-Plant-Heritage-Marquee-Tatton-Park-2012-_PUB0024696.jpg') no-repeat center;
   }


/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .alert{
    margin-top: 20px;;
    display: none;
   }

   .well{
    margin: 20px 0;
   }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

   /* Portrait & landscape phone */

   @media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    #slide1{
      background: url('../../img/FruitTrees_small.jpg') no-repeat center;
      }

    #slide2{
      background: url('../../img/pictureoforanges_small.jpg') no-repeat center;

      }

    #slide3{
      background: url('../../img/Tomkin-British-Tomato-Growers-Association-National-Plant-Societies-Plant-Heritage-Marquee-Tatton-Park-2012-_PUB0024696_small.jpg') no-repeat center;
      }

}

@media (max-width: 1300px){

.navbar-brand {
    float: none;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
  }
  .pull-right , .pull-left {
    float: none !important;
  }
  .navbar-toggle {
    position: relative;
    /*top: auto;
    left: auto;*/
    display: block;
    margin-top: 10px;
    float: right;

  }
  .nav-collapse.collapse {
    display: none !important;
  }

  .collapse.in {
  display: block !important;
  }

  .navbar-header{
    float: none;

  }
}
/* Large desktop */
@media (min-width: 1200px) {

}
